VITE_WS_URL=wss://fluffy-octo-engine-production.up.railway.app/ws
VITE_FIREBASE_API_KEY=AIzaSyBUAxvW09jUV9980IObSBej_9-tlWzhKTg
VITE_FIREBASE_AUTH_DOMAIN=tradingengine-a8c0e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tradingengine-a8c0e
VITE_FIREBASE_STORAGE_BUCKET=tradingengine-a8c0e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1089366218413
VITE_FIREBASE_APP_ID=1:1089366218413:web:e89f078d4c39bb34165824
VITE_FIREBASE_MEASUREMENT_ID=G-M05EJME2KX
